<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tencent.yolov8ncnn"
      android:versionCode="1"
      android:versionName="1.1">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <application android:label="@string/config_app_name"
                 android:usesCleartextTraffic="true"
                 android:icon="@mipmap/ic_launcher">
        <activity android:name=".SplashActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:screenOrientation="portrait"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MainActivity"
                  android:label="@string/config_app_name"
                  android:screenOrientation="portrait"
                  android:exported="false">
        </activity>
        
        <activity android:name=".AppInfoActivity"
                  android:label="应用说明"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait"
                  android:exported="false">
        </activity>
    </application>
</manifest> 
